@import "../css/variables.css";

.base {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.branding {
  padding: var(--spacer-2)
}

.menuButton {
  padding: var(--spacer-2);
  justify-self: end;
  align-self: center;
}

.navMenu {
  grid-column: span 2;
  text-align: center;
  padding: var(--spacer-1)
}

.menuItem {
  width: 100%;
  margin-bottom: var(--spacer-1);
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: var(--font-size-5)
}

.closed {
  display: none;
}
