:root {
    --tag-color1: #E3A24E;

    --spacer-1:    4px;
    --spacer-2:    8px;
    --spacer-3:   16px;
    --spacer-4:   24px;
    --spacer-5:   40px;
    --spacer-6:   64px;
    --spacer-7:  104px;

    --spacing-names: (
        0: 0,
        1: var(--spacer-1),
        2: var(--spacer-2),
        3: var(--spacer-3),
        /* 4: --spacer-4, */
        /* 5: --spacer-5, */
        /* 6: --spacer-6, */
        /* 7: --spacer-7 */
    );
}
